.tr{ background-color: #DDD; width: 100%; height: 30px; display: inline-block;}
.td{ float: left;   width: 24%; text-align: center;}
.trh{ background-color: #DDD; width: 100%;    height: 20px; display: inline-block; margin-bottom: 5px;}
.th{ float: left; width: 24%; text-align: center; background-color: #EEE;}
.td1{width:10%;}
.td2{width:30%;}
.td3{width:50%;}
.td4{width:10%;}
.paginado{ text-align: center; background-color: #EEE;}
.btnIngresar a{text-decoration: none; color:white; font-size: 18px; font-family: verdana}
.btnIngresar a:link{text-decoration: none; color:white; font-size: 18px; font-family: verdana}
.btnIngresar a:visited{text-decoration: none; color:white; font-size: 18px; font-family: verdana}
.btnIngresar a:hover{text-decoration: none; color:white; font-size: 18px; font-family: verdana}
.btnIngresar a:active{text-decoration: none; color:white; font-size: 18px; font-family: verdana}
.btnIngresar
{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 14px;
    background-color: #75e504;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
}
.btnIngresar:hover
{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 14px;
    background-color: #64e402;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
}
.btna
{
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-top: -40px;
}