.tr
{
	margin-bottom: 20px;
}
/*
.td
{
	margin-bottom: 5px;
	float: left;
	width: 20%;
}
.tdx
{
		width: 50%;
}
.tdx2
{
	margin-left: 110px;
}
.btnatras
{
	width: 20px;
	height: 20px;
	font-size: 18px;
	bottom: 90px;
	right: 300px;
	position: absolute;
}
.imagen
{
	width: 40%;
	float: left;
}
img
{
	width: 100px;
	height: 100px;
}
.clear
{
	clear: both;
}*/